* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
header,
main {
  margin: 0 100px;
}
.section-heading {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.text-gray {
  color: #131318b3;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 25px;
  border: 0;
  cursor: pointer;
}

/* Header Area CSS */
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-logo h1 {
  color: #131318;
  padding-left: 10px;
  font-size: 36px;
  font-weight: 800;
}
.nav-logo .travel {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}
.menu {
  display: inline-flex;
  gap: 50px;
}
.menu li {
  list-style: none;
  cursor: pointer;
}
.menu li a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.menu li a:hover {
  color: #ff5400;
}
.open-menu,
.close-menu {
  position: absolute;
  color: #131318;
  cursor: pointer;
  font-size: 20px;
  display: none;
}
.open-menu {
  top: 45px;
  right: 35px;
  transform: translateY(-50%);
}
.close-menu {
  top: 32px;
  right: 32px;
}
#check {
  display: none;
}

/* Banner Area CSS */
.banner-area {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.banner-content {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-content h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.banner-content p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  margin: 25px auto 50px;
}
.find-now {
  border-radius: 8px;
  background: #ffffff4d;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.find-now input,
.dropdown {
  border-radius: 8px;
  color: #13131880;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 20px;
  border: 0;
  background: #fff;
  outline: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.btn-banner {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  padding: 15px 20px;
}

@media screen and (max-width: 600px) {
  /* Header Area Mobile */
  header,
  main {
    margin: 0 20px;
  }
  .header-area {
    margin: 20px 0;
  }
  .nav-links .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #999;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 10px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .nav-logo h1 {
    font-size: 20px;
  }
  .nav-logo .travel {
    font-size: 20px;
  }
  /* Banner Area Mobile */
  .banner-content h1 {
    font-size: 22px;
  }
  .banner-content p {
    font-size: 14px;
    line-height: 20px;
    margin: 25px auto 50px;
  }
  .find-now{
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
